<div class="grid" id="colortest">
  <span class="grid__item colortest__item large--one-eighth">
    <span>settings.color_primary</span>
  </span>
  <span class="grid__item colortest__item large--one-eighth">
    <span>settings.color_secondary</span>
  </span>
  <span class="grid__item colortest__item large--one-eighth">
    <span>settings.color_button_primary_text</span>
  </span>
  <span class="grid__item colortest__item large--one-eighth">
    <span>settings.color_button_secondary_text</span>
  </span>
  <span class="grid__item colortest__item large--one-eighth">
    <span>settings.color_button_secondary_text</span>
  </span>
  <span class="grid__item colortest__item large--one-eighth">
    <span>settings.color_body_bg</span>
  </span>
  <span class="grid__item colortest__item large--one-eighth">
    <span>settings.color_borders</span>
  </span>
  <span class="grid__item colortest__item large--one-eighth">
    <span>(liquid class name)</span>
  </span>
</div>