{% comment %}
The homepage is covered by the "else" case in the conditional.
{% endcomment %}

<div class="grid__item__nm--wrap">
  <div class="flexslider">
    <ul class="slides">
      <li>
        <img src={{ 'littlefalls-mossisland-cityscape_884x490.jpg' | asset_url }}>
        <p class="flex-caption">Lock 17 of the Erie Canal, located at Moss Island, is one of the most important and iconic pieces of the canal system. It towers above an electrical plant that harnesses the clean power created by the difference in elevation between the Canal and the Mohawk River.</p>
      </li>
      <li>
        <img src={{ 'mohawk-river_884x490.jpg' | asset_url }}>
        <p class="flex-caption">Winding through the picture-perfect Valley, the Mohawk River has connect east to west for many centuries.</p>
      </li>
      <li>
        <img src={{ 'church-clouds_884x490.jpg' | asset_url }}>
        <p class="flex-caption">Snells Bush Church in Little Falls is a historic church that continues to hold services every Sunday. The congregation celebrates its bicentennial this year. Visit the Mohawk Valley for all its great historical sites.</p>
      </li>
    </ul>
  </div>
</div>